{% extends 'app.html' %}

{% block title %}Welcome To {{ config.site_name }}{% endblock %}

{% block body %}

<div class="swiper-container" id="swiper-parallax">
    <div class="parallax-bg" style="background-image:url(/static/img/slider/slide14.jpg)" data-swiper-parallax="-23%"></div>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="container"> 
                <div class="slider-content left-holder"> 
                    <h2 class="animated fadeInDown"> DIGITECH ICT <br>The Power to Secure. </h2> 
                    <div class="row"> 
                        <div class="col-md-6 col-sm-12 col-12"> 
                            <p class="animated fadeInDown"> DigiTech ICT Limited (RC: 975629) is a company incorporated in Nigeria.
We are into the sales, installation and maintenance of High Tech Security Gadgets, Telecoms, Solar Energy Systems, Satellite Systems, Internet ISP/Networking, UPS Inverters and General ICT both hardware and software Development. </p>
                        </div>
                    </div>
                    <div class="animated fadeInUp mt-30"> 
                        <a href="{% url 'who-we-are' %}" class="dark-button button-md">About Us &raquo;</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container"> 
                <div class="slider-content left-holder"> 
                    <h2 class="animated fadeInDown"> We will help to improve<br>your business </h2> 
                    <div class="row"> 
                        <div class="col-md-6 col-sm-12 col-12"> 
                            <p class="animated fadeInDown"> Our gadgets include CCTV Surveillance Camera, Electric Fence, Fire/Smoke Detectors, Remote Control Gate. </p>
                        </div>
                    </div>
                    <div class="animated fadeInUp mt-30"> 
                        <a href="{% url 'who-we-are' %}" class="dark-button button-md">More About Us &raquo;</a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="container"> 
                <div class="slider-content left-holder"> 
                    <h2 class="animated fadeInDown"> 
                            DIGITECH ICT LIMITED 
                            <br>
                    </h2> 
                    <div class="row"> 
                        <div class="col-md-6 col-sm-12 col-12"> 
                            <p class="animated fadeInDown"> At DIGITECH, our vision is to make the world a safer and technologically oriented place. Today, we are helping develop the products and solutions that contribute to a safer world. </p>
                        </div>
                    </div>
                    <div class="animated fadeInUp mt-30"> 
                        <a href="/contact-us/" class="dark-button button-md">Contact Us</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
</div>


<div class="section-block pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-12">
                <div class="section-heading mt-30">
                    <span>Welcome To {{ config.site_name }}</span>
                    <h4>SECURITY TIPS</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content mt-25">
                    <p>Digitech ICT Limited offers tips and techniques on security, including both starting and advanced tips covering a wide range of security topics - personal, home, work, travel, family, and more.
Benefit from the knowledge of security experts on our team today and stay protected using our tips. Leave nothing to chance.</p>
                </div>
                <div class="mt-25">
                  
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-12">
                <img src="/static/img/images/mainimage2_0.950x260.jpg" alt="image">
            </div>
        </div>
    </div>
</div>

<div class="section-clients-grey">
    <div class="container"> 
        <div class="owl-carousel owl-theme clients" id="clients"> 
            <div class="item"> 
                <img src="/static/img/images/carosel-1.png" alt="partner-image"> 
            </div>
            <div class="item"> 
                <img src="/static/img/images/carosel-2.png" alt="partner-image"> 
            </div>
            <div class="item"> 
                <img src="/static/img/images/carosel-3.png" alt="partner-image"> 
            </div>
            <div class="item"> 
                <img src="/static/img/images/carosel-4.png" alt="partner-image"> 
            </div>
            <div class="item"> 
                <img src="/static/img/images/carosel-5.png" alt="partner-image"> 
            </div>
            <div class="item"> 
                <img src="/static/img/images/carosel-6.png" alt="partner-image"> 
            </div>
            <div class="item"> 
                <img src="/static/img/images/carosel-7.png" alt="partner-image"> 
            </div>
            <div class="item"> 
                <img src="/static/img/images/carosel-8.png" alt="partner-image"> 
            </div>
        </div>
    </div>
</div>


<div id="services" class="section-block-bg section-md services" style="background-image: url(/static/img/bg/bgred.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pr-30-md">
                    <div class="section-heading white-color mt-30">
                        <h2><strong>Our Services</strong></h2>
                        <h6>At DIGITECH ICT LIMITED, our services include sales, installation, and maintenance of Electric fence, CCTV, Automated remote control gate/doors, PABX intercom, solar energy, UPS inverters, V-sat, and general ICT both soft/hardware.</h6>
                        <div class="section-heading-line-left"></div>
                    </div>
                    <div class="text-content white-color mt-25"> 
                        <p>
                            
<br>
                        </p>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12">
                        <div class="feature-box">
                            <p>
                                Over the years, we have been delivering excellent and quality services to clients which span across both private and public sectors.
We have served individuals, families, government parastatals, and private companies.
<br/><strong>Gadgets sales:</strong> to view our security and telecommunication gadgets. Our gadgets are manufactured by our partners which are the best security and telecoms companies in the world, so you can rest assured that you get the best products in the market from us.

Installation and maintenance: After spending so much on getting a good gadget, why leave it at the mercy of quacks. At Digitech, we have the best hands in the industry to install and maintain you security and telecoms gadgets. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-block-grey">
    <div class="container">
        
        <div class="owl-carousel owl-theme mt-50" id="services-carousel">
            {% for post in blogs %}
            <div class="service-box">
                <img src="{{ post.img.url }}" alt="service-img">
                <div class="service-inner-box clearfix">
                    <div class="service-content-box">
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <p>{{post.content|truncatewords:20}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}