{% extends 'app.html' %}
{% block title %}Products - {{ config.site_title }}{% endblock %}

{% block body %}

<div class="page-title-section" style="background-image: url(/static/img/bg/pagetitle.jpg);">
	<div class="container"> 
		<h1>Shop Grid Classic</h1> 
		<ul> 
			<li><a href="index-2.html">Home</a></li>
			<li><a href="shop-grid-classic-4-col.html">Shop Grid Classic</a></li>
		</ul> 
	</div>
</div>
<div class="section-block"> 
	<div class="container"> 
		<div class="section-heading"> 
			<h5>Featured Products</h5> 
			<div class="section-heading-line-left"></div>
		</div>
		<div class="row mt-30"> 
			<div class="col-md-3 col-sm-6 col-12"> 
				<div class="classic-shop"> 
					<div class="classic-shop-img"> 
						<img src="/static/img/shop/grid/pro-1.jpg" alt="img"> 
						<div class="shop-box-overlay"> 
							<div class="row"> 
								<div class="col-md-6 col-sm-6 col-12 pr-0"> 
									<a href="#"> 
										<div class="shop-to-card"> 
											<h4><span class="fa fa-eye"></span>Details</h4> 
										</div>
									</a> 
								</div>
								<div class="col-md-6 col-sm-6 col-12 pl-0"> 
									<a href="#"> 
										<div class="shop-buy"> 
											<h4><span class="fa fa-cart-plus"></span>To Cart</h4> 
										</div>
									</a> 
								</div>
							</div>
						</div>
					</div>
					<div class="classic-shop-text"> 
						<h4><a href="#">Bussines Strategies</a></h4> 
						<h5>$173.00</h5> 
						<ul class="shop-grid-rating">
						</ul> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="notice-section-grey notice-section-sm border-top"> 
		<div class="container"> 
			<div class="row"> 
				<div class="col-md-8 col-sm-8 col-12"> 
					<div class="mt-5"> 
						<h6>Looking for Professional Approach and Quality Services ?</h6> 
						<div class="section-heading-line-left"></div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-12"> 
					<div class="mt-10 right-holder-md"> 
						<a href="#" class="primary-button button-sm mt-15-xs">Contact Us Today</a> 
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}