{% extends 'app.html' %}
{% block title %}Contact Us - {{ config.site_name }}{% endblock %}
{% block body %}
<div class="page-title-section" style="background-image: url(/static/img/bg/pagetitle.jpg);"> 
	<div class="container"> 
		<h1>Contact Us</h1> 
		<ul> 
			<li><a href="index-2.html">Home</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul> 
	</div>
</div>
<div class="section-block"> 
	<div class="container"> 
		<div class="row"> 
			<div class="col-md-7 col-sm-7 col-12"> 
				<div class="section-heading mt-15"> 
					<h4>Let's Talk about Your Security</h4> 
					<div class="section-heading-line-left"></div>
				</div>
				<div class="contact-form-box mt-30"> 
					<form class="contact-form">
						{% csrf_token %}
						<div class="row">
							{{ form.as_p }}
						<!-- 
							<div class="col-md-12"> 
								<input type="text" name="subject" placeholder="Subject"> 
							</div>
							<div class="col-md-6 col-sm-6 col-12"> 
								<input type="text" name="name" placeholder="Name"> 
							</div>
							<div class="col-md-6 col-sm-6 col-12"> 
								<input type="email" name="from_email" placeholder="E-mail"> 
							</div>
							<div class="col-md-12"> 
								<textarea name="message" placeholder="Message"></textarea> 
							</div>
						-->
							<div class="col-md-12 mb-30"> 
								<div class="center-holder"> 
									<button type="submit">Send Message</button> 
								</div>
							</div>
						</div>
					</form> 
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-12"> 
				<div class="contact-info-box"> 
					<div class="row"> 
						<div class="col-md-12 col-sm-12 col-12"> 
							<div class="contact-info-section"> 
								<div class="row"> 
									<div class="col-md-2 col-sm-2 col-4 center-holder"> <i class="fa fa-phone"></i> </div>
									<div class="col-md-10 col-sm-10 col-8"> 
										<h4>Call Us</h4> 
										<p>+2348036206600</p>
										<p>+2348058222400</p>
										<p>+2348181514372</p>
										<p>+2348038671284</p>
										<p>+2348023147306</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-12"> 
							<div class="contact-info-section"> 
								<div class="row"> 
									<div class="col-md-2 col-sm-2 col-4 center-holder"> <i class="fa fa-envelope-open"></i>
									</div>
									<div class="col-md-10 col-sm-10 col-8"> 
										<h4>Message</h4> 
										<p>{{ config.site_mail }}</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-12"> 
							<div class="contact-info-section"> 
								<div class="row"> 
									<div class="col-md-2 col-sm-2 col-4 center-holder"> <i class="fa fa-globe"></i> </div>
									<div class="col-md-10 col-sm-10 col-8"> 
										<h4>Our Location</h4> 
										<p>Suite B55B, Banex Plaza, Opposite Zenith Bank, </p>
										<p>Wuse 2 Abuja.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}