{% extends 'app.html' %}

{% block title %}FAQs &raquo; {{ config.site_title }}{% endblock %}
{% block body %}


<div class="page-title-section" style="background-image: url(/static/img/bg/title.png);">
	<div class="container">
		<h1>FAQs</h1>
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'faqs' %}">FAQs</a></li>
		</ul>
	</div>
</div>

<div class="section-block">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-12">
				<div class="section-heading">
					<h5>Frequently Asked Questions</h5>
					<div class="section-heading-line-left"></div>
				</div>
				<div class="panel-group mt-40" id="accordion" role="tablist" aria-multiselectable="true"> 
					<div class="panel panel-default accordion"> 
						<div class="panel-heading accordion-heading" role="tab" id="headingOne"> 
							<h4 class="panel-title accordion-title"> 
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> How does {{ config.site_title }} fund ideas, projects and businesses? </a> 
							</h4> 
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"> 
							<div class="panel-body accordion-body"> {{ config.site_title }} fund projects from individual and collective funds realized from its own community, we make maximum use of different tools in our community to reach to our patrons and supporters the get the funds needed to back or sponsor a project. 
							</div>
						</div>
					</div>

					<div class="panel panel-default accordion"> 
						<div class="panel-heading accordion-heading" role="tab" id="headingTwo"> 
							<h4 class="panel-title accordion-title"> 
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Is {{ config.site_title }} restricted to a particular geographical location in terms of operation, acceptance of application as founders or sponsoring of projects by patrons?</a> 
							</h4> 
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"> 
							<div class="panel-body accordion-body">
							 {{ config.site_title }} is an online community of founders and funders and thus is not restricted to any particular geographical area in terms of operation, accepting application from founders or sponsorship of projects from funders or patrons.
							</div>
						</div>
					</div>
					<div class="panel panel-default accordion"> 
						<div class="panel-heading accordion-heading" role="tab" id="headingThree"> 
							<h4 class="panel-title accordion-title"> 
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Is everything about {{ config.site_title }} online? </a> 
							</h4> 
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"> 
							<div class="panel-body accordion-body">
							 No! Only 80% of {{ config.site_title }} activities are done online but the remaining 20%are offline, where the team will have to meet with founders and key patrons to discuss key issues about the organization. Conferences, rendezvous, employer-employee trainings and many more are done face to face and we like making founders to meet with patrons that funded their companies and also making people in the community to get meet and interact with themselves. 
							</div>
						</div>
					</div>
					<div class="panel panel-default accordion"> 
						<div class="panel-heading accordion-heading" role="tab" id="headingThree"> 
							<h4 class="panel-title accordion-title"> 
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Is {{ config.site_title }} for profit businesses alone? </a> 
							</h4> 
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"> 
							<div class="panel-body accordion-body">
							 {{ config.site_title }} is both for profit and not for profit businesses our core purpose is to change lives and make the world a better place.
							</div>
						</div>
					</div>
					<div class="panel panel-default accordion"> 
						<div class="panel-heading accordion-heading" role="tab" id="headingThree"> 
							<h4 class="panel-title accordion-title"> 
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> How rich should I be before I am to be considered as a patron or a funder of projects supported by {{ config.site_title }}? </a> 
							</h4> 
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"> 
							<div class="panel-body accordion-body">
							 You really don’t need to be very rich to join this great community as founder or a funder. With a minimum of 1 dollar you are already considered a founder. The idea is to truly democratize the role of an angel investor and that of a co-founding funder while giving everyone the privilege to co-own a company.
							</div>
						</div>
					</div>
					<div class="panel panel-default accordion"> 
						<div class="panel-heading accordion-heading" role="tab" id="headingThree"> 
							<h4 class="panel-title accordion-title"> 
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Is the role of patron only limited to financial support only? </a> 
							</h4> 
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"> 
							<div class="panel-body accordion-body">
							 No! It extends to every other areas that a patron can offer his or her kind assistance to see the company grow. It could even be a free space as an office for a startup, industry network etc. think of what other assistance you can give to see that a project survive.
							</div>
						</div>
					</div>
					<div class="panel panel-default accordion"> 
						<div class="panel-heading accordion-heading" role="tab" id="headingThree"> 
							<h4 class="panel-title accordion-title"> 
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> What is the meaning of {{ config.site_title }}? </a> 
							</h4> 
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"> 
							<div class="panel-body accordion-body">
							    {{ config.site_title }} is the contracted form of the word allianceforte.
							</div>
						</div>
					</div>
					<div class="panel panel-default accordion"> 
						<div class="panel-heading accordion-heading" role="tab" id="headingThree"> 
							<h4 class="panel-title accordion-title"> 
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Is {{ config.site_title }} a registered company? </a> 
							</h4> 
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree"> 
							<div class="panel-body accordion-body">
							 Yes. {{ config.site_title }} is a registered brand.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}