{% extends 'app.html' %}

{% block title %}About Us &raquo; {{ config.site_title }}{% endblock %}
{% block body %}

<div class="page-title-section" style="background-image: url(/static/img/bg/title.png);">
	<div class="container">
		<h1>About Us/Who We Are</h1>
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'who-we-are' %}">About {{ config.site_title }}</a></li>
		</ul>
	</div>
</div>

<div class="section-block">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12">
				<div class="pr-30-md">
					<div class="section-heading">
						<h4>ABOUT US</h4>
					</div>
					<div class="section-heading-line-left"></div>
					<div class="text-content-big mt-20">
						<p>DigiTech ICT Limited (RC: 975629) is a company incorporated in Nigeria.
We are into the sales, installation and maintenance of High Tech Security Gadgets, Telecoms, Solar Energy Systems, Satellite Systems, Internet ISP/Networking, UPS Inverters and General ICT both hardware and software Development.

Our gadgets include CCTV Surveillance Camera, Electric Fence, Fire/Smoke Detectors, Remote Control Gate.

At DIGITECH, our vision is to make the world a safer and technologically oriented place. Today, we are helping develop the products and solutions that contribute to a safer world. We are doing so through the research, and development of intuitive and easy-to-use security solutions, solutions that make the installation, maintenance and application of security gadgets, solar energy, and general ICT solution, both software and hardware. And we will bring these solutions to the entire country and beyond.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-12">
				<img src="/static/img/images/mainimage1.950x260.jpg" class="rounded-border shadow-primary mt-15-xs" alt="img">
			</div>
		</div>
	</div>
</div>

<div class="section-block-bg" style="background-image: url(/static/img/bg/bg6.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12 col-12 offset-md-5">
				<div class="section-heading">
					<span>Get To Know Us Better!</span>
					<h4>Our Mission</h4>
					<div class="section-heading-line-left"></div>
					<div class="text-content-big mt-10">
						<p>Our mission is to help every entrepreneur with a unique idea or product to stand out.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-12">
						<div class="feature-flex-square">
							<div class="clearfix">
								<div class="feature-flex-square-icon"><i class="icon-target"></i></div>
								<div class="feature-flex-square-content">
									<h4><a href="#mission">OUR MISSION</a></h4>
									<p>Our mission is to benefit the general populace through the continuous advancement of solutions that provide security infrastructure, general ICT, and solar energy technology.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-12">
						<div class="feature-flex-square">
							<div class="clearfix">
								<div class="feature-flex-square-icon"><i class="icon-diamond"></i></div>
								<div class="feature-flex-square-content">
									<h4><a href="#vision">OUR VISION</a></h4>
									<p>In the near-term, our goal is to be Nigeria's leading provider of security and general ICT solutions for the general populace, and we also envision being a worldwide, top-three security and general ICT provider to system integrators and installers that perform small to medium surveillance, general ICT, and solar energy installations. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-12">
						<div class="feature-flex-square">
							<div class="clearfix">
								<div class="feature-flex-square-icon"><i class="icon-networking"></i></div>
								<div class="feature-flex-square-content">
									<h4><a href="#promise">OUR PROMISE</a></h4>
									<p>We promise our customers good products and service delivery backed by professional technical team. We take pride in committing to the needs and demands of our clients. To this end we actively seek to understand our clients needs; to supply products and services of superior quality with an ease-of-use not found with our competitors' offering, and to provide the best possible service.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-12">
						<div class="feature-flex-square">
							<div class="clearfix">
								<div class="feature-flex-square-icon"><i class="icon-hourglass"></i></div>
								<div class="feature-flex-square-content">
									<h4><a href="#statements">OUR STATEMENTS</a></h4>
									<p>At DIGITECH, our vision is to make the world a safer and technologically oriented place. Today, we are helping develop the products and solutions that contribute to a safer world. We are doing so through the research, and development of intuitive and easy-to-use security solutions, solutions that make the installation, maintenance and more...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="section-block">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12"> 
				<img src="/static/img/bg/map.png" class="mb-15-xs" alt="map">
			</div>
			<div class="col-md-5 col-sm-6 col-12 offset-md-1">
				<div class="section-heading">
					<h5>We are Available Worldwide</h5>
					<div class="section-heading-line-left"></div>
				</div>
				<div class="text-content mt-25">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="mt-25">
					<a href="#" class="primary-button button-sm">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
